<footer>
  <ul>
    <li><%=link_to "Terminos de uso", privacy_path, :target => "_blank"  %></li>
    <li><%=link_to "Transparencia y Seguridad del sistema de votación", "http://referendum15deoctubre.org/noticia4.php", :target => "_blank" %></li>
  </ul>
</footer>