<footer>
  <ul>
    <li><%=link_to "Aviso legal", legal_path %></li>
    <li><%=link_to "Política de privacidad", privacy_path  %></li>
    <li><%=link_to "Transparencia y Seguridad del sistema de votación", system_info_path %></li>
  </ul>
</footer>