<footer>
	<ul>
		<li><%=link_to "Aviso legal", ""%></li>
		<li><%=link_to "Política de privadidad", ""%></li>
		<li><%=link_to "Transparencia y Seguridad del sistema de votación", ""%></li>
	</ul>
</footer>