<div id="container">
   <header>
		<ul id="breadcrump">
			<li>Vota</li>
			<li>Comprueba</li>
			<li>Envía</li>
		</ul>
		<h1>Referendum 15 de octubre</h1>
		<%=link_to "Información", ""%>
  </header>
  <div id="main" role="main">
		<h2>Introduce tu DNIe para votar</h2>
		<%=image_tag("dni_icon_insertar.png", :id => "introducir_DNIe", :alt => "Icono del DNIe entrando en el lector")%>
  </div>
  <footer>
		<ul>
			<li><%=link_to "Aviso Legal", ""%></li>
			<li><%=link_to "Política de Privadidad", ""%></li>
		</ul>
  </footer>
</div> <!-- eo #container -->