<div id="goodbye_text"><h2>Tu voto ha sido registrado</h2><h3>Gracias por participar</h3></div>

<script type="text/javascript" charset="utf-8">
  var t = setTimeout("top.document.location.href = '<%= root_path %>'", 3000);
</script>