<div id="welcome_text"><h2>Tu voto ha sido registrado correctamente.</h2></div>

<script type="text/javascript" charset="utf-8">
  var t = setTimeout("top.document.location.href = '<%= root_path %>'", 3000);
</script>