<div id="welcome_text"><h2>Introduce tu DNIe<br /> para votar</h2></div>
<div id="insert_dnie_icon"><%= link_to image_tag("dni_icon_insertar.png", :alt => "Icono del DNIe entrando en el lector"), proposals_path %></div>