<h2>Política de privacidad</h2>
<br/>
<p>
  <p>Cláusula de información y consentimiento para el formulario de votación</p>
  <br/>
  <p>Los datos de carácter personal que se recogen a través del presente formulario se tratan con la finalidad de hacer efectiva tu participación en este Referendum electrónico que se celebrará vía Internet el día 15 de octubre de 2011 a través de http://www.referendum15deoctubre.org. Tus datos se tratarán conforme a la normativa de protección de datos de carácter personal y serán incorporados a un fichero denominado referendum, debidamente notificado a la Agencia Española de Protección de Datos, cuyo titular es de la Asociación Referendum 15-O. Para mayor información de la Asociación puedes consultar en la web de referendum15deoctubre.org nuestro aviso legal, o haciendo clic en el siguiente enlace (al aviso legal).</p>
  <br/>
  <p>En concreto los datos que se precisan para tu participación son:</p>
  <br/>
  <ul>
    <li>a) Número de DNIe</li>
    <li>b) Certificado DNIe</li>
    <li>c) Las opciones elegidas en tu voto</li>
  </ul>
  <br/>
  <p>Tus datos personales y tus votos serán disociados y mantenidos en estricto secreto, aplicándose todas las medidas de seguridad exigidas, y no serán comunicados a terceros salvo los supuestos establecidos en la Ley.</p>
  <br/>
  <p>Si quieres ejercer tus derechos de acceso, rectificación, cancelación y oposición puedes hacerlo mandando una comunicación por escrito, por cualquier medio que permita acreditar su envío y recepción a “Asociación Referendum 15-O”, Calle Peñuelas, Nº 48, Piso 6º E, sito en Madrid (CP 28005),  o envíar un correo electrónico a esta dirección. lopd@referendum15deoctubre.org</p>
  <br/>
  <p>Haciendo click en el botón "Acepto los terminos de uso. Enviar voto", confirmas la lectura de la misma y nos das tu consentimiento expreso respecto al tratamiento de los datos personales antes mencionados.</p>
</p>
