<div id="welcome_text"><h2>Tu voto ha sido registrado correctamente</h2></div>
<div id="retrieve_dnie_icon"><%=image_tag("dni_icon_insertar.png", :alt => "Icono del DNIe saliendo en el lector")%></div>

<div style="text-align:center;margin-bottom:60px"><%= link_to "Hecho", proposals_path %></div>