<div id="welcome_text"><h2>Saca tu DNIe para finalizar.</h2></div>
<div id="retrieve_dnie_icon"><%= link_to image_tag("dni_icon_insertar.png", :alt => "Icono del DNIe saliendo en el lector"), confirmation_path %></div>