<div id="applet_info">
...
</div>

<div id="applet_log">
...
</div>

<div id="java_applet_wrapper">
    <applet id="java_applet" code="org.agora.VotingApplet.class" archive="lib/apache-commons-codec-1.4.jar, lib/bcprov-1.45.jar, lib/verificatum.jar, lib/agora-applet.jar" width="0" height="0">applet yeah</applet>
</div>