<div id="share_section">
  <!-- twitter -->
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://vota.referendum15deoctubre.org" data-text="He votado en el Referéndum del 15 de octubre, ¡participa y hazte oir!" data-count="none" data-related="referendum15oct:Referéndum popular desde el 15 de octubre" data-lang="es">Tweet</a>
  <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
  <!-- end twitter -->
</div>