<div id="success_section">
  <h2>Su voto ha sido guardado correctamente</h2><h3>Gracias por participar</h3>
  <small>Puede sacar su DNIe del lector de tarjetas</small>
  
  <%= render 'share_section' %>
</div>