<div id="success_section">
  <h2>Your vote was successfully casted</h2><h3>Thanks for participating</h3>
  <small>You can remove your DNIe from the card reader</small>
  
  <%= render 'share_section' %>
</div>